.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    opacity:0.8;
    background-color: black;
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}